
<h1 class="h1">123456</h1>
<button class="button" @onclick="AddNumber">數字加加</button>

@code {
    [Parameter] public int CurrentValue { get; set; }
    [Parameter] public EventCallback<int> OnCurrentValueChange { get; set; }
    [Parameter] public int InputValue { get; set; }

    protected async void AddNumber()
    {
        CurrentValue += InputValue + 1;
        await OnCurrentValueChange.InvokeAsync(CurrentValue);
    }

}
