
<button @onclick="AddNumber">數字加加</button>

@code {
    [Parameter] public int CurrentValue { get; set; }
    [Parameter] public EventCallback<int> CurrentValueChange { get; set; }
    [Parameter] public int InputValue { get; set; }

    protected async void AddNumber()
    {
        CurrentValue += InputValue;
        await CurrentValueChange.InvokeAsync(CurrentValue);
    }

}
