@using BlazorServerDemo.Data
@page "/staffadd"
@inject IStaffService StaffService
@inject NavigationManager NavigationManager



<h1>type your expected salary </h1>


    <table>
        <tr>
            <td>姓名：</td>
        </tr>
        <tr>
            <td>期望薪資：</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"></td>
            <td>
                <input type="button" value="Cancel" @onclick="@Cancel" />
            </td>
        </tr>
    </table>

    <div class="display-1 text-success">@Message</div>

</EditForm>

@code {
    //Creadit a new, empty Staff object
    StaffInfo staffInfo = new StaffInfo();

    {
        }

        //NavigationManager.NavigateTo("/");

    }

    protected void Cancel()
    {
    }

}
